<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="index.css">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
	<div data-role="page" id="about">
		<div data-role="header">
			<p class="title">KUAS</p>
			<div data-role="navbar">
				<ul>
					<li>
						<a href="http://fs.mis.kuas.edu.tw/~s1104137120/test/dist/index.html">
							<i class="fa fa-bus"></i>
							<div>預約校車</div>
						</a>
					</li>

					<li>
						<a href="#" class="ui-btn-active ui-state-persist">
							<i class="fa fa-users"></i>
							<div>關於我們</div>
						</a>
					</li>

					<li>
						<a href="http://fs.mis.kuas.edu.tw/~s1104137120/test/dist/donate.html">
							<i class="fa fa-usd"></i>
							<div>贊助我們</div>
						</a>
					</li>

					<li>
						<a href="https://www.facebook.com/">
							<i class="fa fa-facebook"></i>
							<div>意見反饋</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div data-role="main" class="ui-content">
			<p>關於我們</p>
		</div>

	</div> 
</body>
</html>